In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

In [2]:
df = pd.read_csv('student_info.csv')

In [3]:
df.head()

   study_hours  student_marks
0         6.83          78.50
1         6.56          76.74
2          NaN          78.68
3         5.67          71.82
4         8.67          84.19

In [7]:
df.isna().sum()

study_hours      0
student_marks    0
dtype: int64

In [6]:
df = df.fillna(df.mean())

In [9]:
from sklearn.model_selection import train_test_split
X = df.drop('student_marks',axis=1)
y = df.drop('study_hours',axis=1)

In [10]:
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
clf = LinearRegression()

In [14]:
clf.fit(X_train,y_train)

LinearRegression()

In [15]:
clf.score(X_test,y_test)

0.9593152612698436

In [16]:
pickle.dump(clf,open('marks.pkl','wb'))

In [17]:
model = pickle.load(open('marks.pkl','rb'))

In [18]:
model.predict([[6.9]])

array([[77.58190689]])